    body{
        font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    }



.first{
    background-image: url('../src/images/code.jpg');
    height: 407px;
    width: 1024px;
    background-size: cover;
}
    