:root{
    --text-color: #fff;
    --text-alignment: center;
    --h1-font: 'Playfair Display', serif;
    --p-font:  'Poppins', sans-serif;
    --styling-color:#FC709B;
}


h1{
    color: var(--text-color);
    text-align: var(--text-alignment);
    font-family: var(--h1-font);
    font-weight: 400;
}

.paragraph{
    color: var(--text-color);
    text-align: var(--text-alignment);
    font-family: var(--p-font);
    font-weight: normal;
}

span {
    color: var(--styling-color);
}

li {
    color: var(--text-color);
}

a{
    color: #080808;
    text-decoration: none;
}

h3 {
    color: var(--text-color);
    text-align: center;
}

.toogle-icon{
    background-color: #FC709B;
}

.nav-styling{
    background-color: #080808 !important;
    font-family: var(--h1-font);
}

.nav-alignment{
    display: flex !important;
    justify-content: end !important;
}



.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
    
    
}

.icon{
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50px;
        margin-left: 20px;
        border: 1px solid #080808;
        display: flex;
        justify-content: center;
        align-items: center;

}

.container2{
    background-color: #1d1c1c;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
}

.border1{
    border: 1px solid var(--styling-color);
    background-color: #262626;
}

.fa-code, .fa-icons, .fa-business-time{
    color: #FC709B;
    margin-right:7px;
}
.button-color{
    background-color: var(--styling-color);
}

.card-font{
    font-family: var(--h1-font);
}

.container3{
    background-color: #383636;
        width: 100%;
        margin-top: 50px;
}



.img{
    width: 90%;
    height:70%;
}

.language{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--styling-color);
        background-color: #383636;
        
        
}

.language-rectangle{
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--styling-color);
    background-color: #383636;
    border-radius: 4px;
}

.language-elipse{
        width: 130px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--styling-color);
        background-color: #383636;
        border-radius: 30px;
}
.centered-text{
    text-align: center;
    margin: 0;
}

.design{
    display: flex;
    justify-content: space-evenly;
}

.contact-info{
    background-color: #fff;
    height: 30%;
    width: 60%;
    margin-top: 30px;
    background-color: #383636;
}

.para-font{
    font-size: 20px;
}

.phone{
    font-size: 20px;
    color: #fff;
}

.custom-input {
    width: 270px;
    /* Set the width */
    height: 40px;
    /* Set the height */
    padding: 8px;
    /* Adjust padding as needed */
    /* Additional styling */
    border: 2px solid #4E4E4E ;
    border-radius: 4px;
    font-size: 16px;
    background-color: #383636 ;
}

.custom-input-message{
    width: 270px;
        /* Set the width */
        height: 80px;
        /* Set the height */
        padding: 8px;
        /* Adjust padding as needed */
        /* Additional styling */
        border: 2px solid #4E4E4E;
        border-radius: 4px;
        font-size: 16px;
        background-color: #383636;
}

.custom-button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
}

.footer{
    border-top: 1px solid #c2b9d9;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 15px;

}





@media(max-width:960px){
    h1{
        font-weight: 200;
        text-align: center;
    }

    p{
        text-align: center;
        
    }

        .box{
            display: flex;
            flex-wrap: wrap;
            
        }

    h3{
        text-align: center;
        font-size: 18px;
        margin: 0;
        padding: 0;
        
    }

        .custom-input,
        .custom-input-message {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            color: #333;
        }
    
        .custom-button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

   .anchor{
    display: flex;
    justify-content: center;
    width: auto;
   height: auto;
   }

   .resume{
    display: none;
   }

   .hidden-project{
    display: none;
   }

   .my-bio{
    display: none;
   }
   
   .container-contact{
    width: 100%;
    height: 100%;
   }
}







